NEXT_PUBLIC_SUPABASE_URL=https://kciktmabdxxvzhncpzxd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjaWt0bWFiZHh4dnpobmNwenhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNjc5NjYsImV4cCI6MjA4NzY0Mzk2Nn0.7gZHhsUszGVD4zfunZPyrRe9_5p63FAJj2-0ZnB89Ys
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjaWt0bWFiZHh4dnpobmNwenhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjA2Nzk2NiwiZXhwIjoyMDg3NjQzOTY2fQ._90OY0c58o-8YxMCy1kDHJKIQM1z1i9_mFt9VzCljPs
# Compatível também com SUPABASE_SERVICE_KEY ou SUPABASE_SECRET_KEY
